            * {
                margin: 0;
                padding: 0;
            }
            body {
                background-color: gray;
            }
            header {
                background-color: black;
            }
            #list ul {
                background: black;
                list-style-type: none;
                text-align: center;
                overflow: hidden;
                width: 100%;
            }
            #list li {
                color: #f1f1f1;
                display: inline-block;
                width: 125px;
                height: 40px;
                line-height: 40px;
                margin-left: -5px;
            }
            #list a {
                font-family: 'Arial';
                text-decoration: none;
                color: #fff;
                display: block;
            }
            #list a:hover {
                background: white;
                color: black;
            }
            #belumine {
                font-size: 20px;
                font-family: 'Arial';
                color: white;
            }
            .logo {
                text-decoration: none;
            }
            #welcome {
                font-family: Arial;
                font-size: 35px;
                color: white;
            }
            #players {
                font-family: Arial;
                font-size: 30px;
                color: yellow;
            }
            .content-card {
                background: white;
                border: 3px solid black;
                margin: 5px;
                padding: 30px;
            }
            .content-card h1 {
                font-family: Arial;
                font-weight: bold;
            }
            .content-card p {
                font-family: Arial;
                font-size: 14,5px;
            }
            .content-card #question {
                color: red;
                font-size: 35px;
            }
            #all-p-card {
                font-size: 20px;
                font-family: Arial;
                color: white;
            }
            #is-player-card {
                font-size: 15px;
                font-family: Arial;
                color: black;
            }
            .content-player {
                border: 1px solid black;
                background: white;
                margin: 150px;
                padding: 15px;
            }
            #all-b-card {
                font-family: Arial;
                font-size: 35px;
                color: white;
            }
            .index-end #all-p-card {
                text-align: center;
            }